body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
     font-family: 'Poppins', sans-serif;
}

section {
    padding: 80px 20px;
    background-color: white;
    color: black;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

img {
    width: 10%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav {
    /* font-family: 'Poppins', sans-serif; */
font-family: 'Red Hat Display', sans-serif;
/* font-family: 'Rubik', sans-serif; */
}

p {
    color: black;
}

.navbar-brand {
    font-size: 24px;
    color: teal;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.btn-danger {
    background-color: white;
    border: none;
}

.btn-danger:hover {
    background-color: rgb(244, 244, 244);
}

.navbar-nav .active {
    font-weight: 20px;
    font-size: 16px;
}

.navbar-nav .nav-item {
    border: none;
}

.navbar-nav .nav-item a {
    color: black;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: #cacaca;
}